<div class="container">
<h1>{{titol}}</h1>
<form>
Introdueix   usuari:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" [(ngModel)]="user" name="tfUsuari" >
<br/><br/>
Introdueix password:&nbsp;
<input type="password" [(ngModel)]="password" name="tfPswrd" >
<br/><br/>
<input type="submit" class="btn btn-primary" value="Login" (click)="login()">
</form>

<br/><br/>

<!-- <p *ngIf="loguejat">{{missatge}}</p> -->
<p *ngIf="loguejat; else noRegistrat">{{missatge}} amb el nom de {{user}} i el password {{password}}</p>

<ng-template #noRegistrat>
    <p>Ningú registrat</p>
</ng-template>

</div>