<div class="container" style="margin-top: 50px;">

    <form>
        <div class="form-group col-md-4">
            <label for="inputEmail">Email address</label>
            <div>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter your e-mail" />
            </div>
        </div>
        <br/>
        <div class="form-group col-md-4">
            <label for="inputPassword">Password</label>
            <div>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter your Password" />
            </div>
        </div>
        <br/>
        <div>
            <input type="submit" class="btn btn-secondary" value="Login" />
        </div>
    </form>

</div>