<div class="container" style="margin-top: 50px;">
<!-- (ngSubmit)="provaLogin()" -->
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" >
        <div class="form-group col-md-4">
            <label for="inputEmail">Email address</label>
            <div>
                <input type="email" [(ngModel)]="email" class="form-control" id="inputEmail" 
                    name="email"  placeholder="Enter your e-mail" />
            </div>
        </div>
        <br/>
        <div class="form-group col-md-4">
            <label for="inputPassword">Password</label>
            <div>
                <input type="password" [(ngModel)]="password" class="form-control" id="inputPassword" 
                    name="password" placeholder="Enter your Password" />
            </div>
        </div>
        <br/>
        <div>
            <input type="submit" class="btn btn-secondary" value="Login"/>
        </div>
    </form>
    <br>
    <div *ngIf="loginError" class="alert alert-danger">
        Invalid email or password. Please try again.
    </div>
</div>
