<div style="background-color: beige;">
    <p>Component empleat standard works</p>
    <h3>Dades de l'empleat</h3>
    <ul>
        <li>{{nom}}</li>
        <li>{{cognom}}</li>
        <li>{{empresa}}</li>
        <li>{{getEdat() + 33}}</li>
        <li>{{getEdat() >= 18? 'MAJOR D\'EDAT' : 'ES MENOR D\'EDAT'}}</li>
    </ul>
</div>

<div style="background-color:aqua">
    <br/>   
Introdueix el nom de l'empresa: 
<input type="text"> &nbsp;&nbsp;&nbsp;
<input type="button" value="canviar nom empresa">
<br/>
<br/>
</div>
