<div style="background-color: beige;">
    <p>Component empleat standard works</p>
    <h3>Dades de l'empleat</h3>
    <ul>
        <li>Nom:{{nom}}</li>
        <li>Cognom: {{cognom}}</li>
        <li>Atribut Empresa, valor inicial: {{empresa}}</li>
        <!-- <li>Empresa introduida: {{txtFieldempresa.value}}</li> -->
        <li>Edat:{{getEdat() + 33}}</li>
        <li>Situació: {{getEdat() >= 18? 'MAJOR D\'EDAT' : 'ES MENOR D\'EDAT'}}</li>
    </ul>
</div>

<div style="background-color:aqua">
    <br /> Introdueix el nom de l'empresa:
    <!-- <input type="text" #txtFieldempresa (keyup)="0"> &nbsp;&nbsp;&nbsp; -->
    <!-- <input type="button" value="canviar nom empresa" (click)="cridaEmpresa(txtFieldempresa.value)"> -->
    
    <!-- <input type="text" [(ngModel)]="nouNomEmpresa" [disabled]="textfieldPropertie"> &nbsp;&nbsp;&nbsp;
    <input type="button" value="canviar nom empresa" (click)="cridaEmpresa()"> -->

    <br />
    <br />
    {{textDeRegistre}}
    <br />
    <!-- Usuari Regitrat: <input type="checkbox" id="registre" [checked]="userLogin" (click)="setUserRegistered()"/> -->
    Usuari Regitrat: <input type="radio" value="y" name="nomRegistre" id="registre" 
                            [checked]="userLogin" (click)="setUserRegistered($event)"/>
    <br />
    Usuari NO Regitrat: <input type="radio" value="n" name="nomRegistre" 
                            [checked]="!userLogin" (click)="setUserRegistered($event)"/>
    <br />
    {{getUserLogin()}}
</div>
