<!-- <p>treballador-fill works!</p> -->
<div>
    <ul>
        <li>
            Entrada {{k+1}}: {{currant.nom}} {{currant.cognom}}, {{currant.carrec}}, {{currant.sou}}, <b>ID:</b> {{currant.id}}.
        </li>
    </ul>

  <!-- Afegim les propietats extra per a aquest treballador -->
  <ul *ngIf="propietatsExtra.length > 0">
    <li *ngFor="let propExtra of propietatsExtra">
      {{ propExtra.propietat }}
    </li>
  </ul>

    <app-atributs-extra-treballador [treballador]="currant" (novesCaracteristiques)="addCaracteristica($event)"> 
    </app-atributs-extra-treballador>

    <!-- <ul style="list-style: none;">
        <li *ngFor="let atribut of nousAtributs">{{atribut}}</li>
    </ul> -->
</div>

