<!-- <p>treballador-fill works!</p> -->
<div style="margin-top: 35px;">
  <!-- TODO JAUME!!!!!!!!!!!!!!!!!!!!!!! -->
  <ul>
    <li>

        Entrada {{k+1}}: {{currant.nom}} {{currant.cognom}}, {{currant.carrec}}, {{currant.sou}}, <b>ID:</b> {{currant.id}}.
        <!-- <a href="/actualitzar"> -->
        <!-- <a [routerLink]="['/actualitzar',currant]"> -->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a [routerLink]="['/updatar', currant.id, currant.nom, currant.cognom, currant.carrec, currant.sou]" 
           [queryParams]="{accio:'1'}"> 
          Actualitzar
          <!-- Entrada {{k+1}}: {{currant.nom}} {{currant.cognom}}, {{currant.carrec}}, {{currant.sou}}, <b>ID:</b> {{currant.id}}. -->
        </a>
        <input type="submit" class="btn btn-danger" value="Eliminar" style="margin-left: 35px;"
          (click)="navigateToUpdatar(currant)"/>
    </li>
  </ul>

  <!-- Afegim les propietats extra per a aquest treballador -->
  <ul *ngIf="propietatsExtra.length > 0">
    <li *ngFor="let propExtra of propietatsExtra">
      {{ propExtra.propietat }}
    </li>
  </ul>

    <app-atributs-extra-treballador [treballador]="currant" (novesCaracteristiques)="addCaracteristica($event)"> 
    </app-atributs-extra-treballador>

    <!-- <ul style="list-style: none;">
        <li *ngFor="let atribut of nousAtributs">{{atribut}}</li>
    </ul> -->
</div>

